@using Core.Abstracts.IServices
@using Core.Concretes.Entities
@using Microsoft.AspNetCore.Identity
@inject IShopService ShopService
@inject UserManager<Customer> UserManager
<nav class="nav">
    @if (User.Identity.IsAuthenticated != null && User.Identity.IsAuthenticated)
    {
        var customer = await UserManager.GetUserAsync(User);
        var cart = await ShopService.GetCartAsync(customer.Id);

        <a class="nav-link" asp-action="index" asp-controller="accounts">Profile Giriş</a>
        <a class="nav-link" href="#">Sepetim(@cart.Items.Count())</a>
        
        <form asp-action="logout"asp-controller="accounts" method="post">
            <button type="submit" class="nav-link btn btn-link">Çıkış Yap</button>
        </form>


    }
    else

    {
        <a class="nav-link" asp-action="login" asp-controller="accounts">Giriş Yap</a>
        <a class="nav-link" asp-action="register" asp-controller="accounts">Kayıt Ol</a>

    }



</nav>